
{% extends 'base.html' %}
{% load static %}
<title>Profile</title>

<link rel="stylesheet" href="#">

{% block content %}
<body>
  <h1>Profile</h1>
  <img alt="user-image" style="border-radius: 55px" src="{{ user.image.url }} " height="100px"><br>
  <h3>Username: {{ user.username }}</h3>
  <h3>First name: {{ user.first_name }}</h3>
  <h3>Last name: {{ user.last_name }}</h3>
  <h3>Email: {{ user.email }}</h3>
  <a href="{% url 'users:update-profile' %}"><button>Edit profile</button></a><br><br>
  <h4>----------------------------------------------------------------------------------------------------------------------------------------------------</h4>

  <h1>Posts</h1>
  <a href="{% url 'home:add-product' %}"><button>Add Post</button></a><br>
  <h4>----------------------------------------------------------------------------------------------------------------------------------------------------</h4>
  <div>
    {% for product in products %}
      <a href="{% url 'home:detail' product.pk %}"><h4>{{ product.title }}</h4></a>
      {% if product.video %}
      <video width="640" height="480" controls>
      <source src="{{ product.video.url }}" type="video/mp4">
      </video>
    {% else %}
        <a href="{% url 'home:detail' product.pk %}"><img src="{{ product.image.url }}" height="300px"></a>
    {% endif %}
      <h4>----------------------------------------------------------------------------------------------------------------------------------------------------</h4>
    {% endfor %}
  </div>
</body>
{% endblock content %}