

{% extends 'base.html' %}
{% block content %}
<body>
    {% if saved_items %}
        {% for i in saved_items %}
            <h3>-------------------------------------------------------------------------------------------------------------------------------------</h3>
            <a href="{% url 'home:detail' i.product.pk %}"><h4>{{ i.product.title }}</h4></a>
            {% if i.product.video %}
                <video width="640" height="480" controls>
                    <source src="{{ product.video.url }}" type="video/mp4">
                </video>
                <a href="{% url 'home:delete-saved' i.pk %}">Delete</a>
            {% else %}
                <a href="{% url 'home:detail' i.product.pk %}"><img src="{{ i.product.image.url }}" height="300px"></a>
                <a href="{% url 'home:delete-saved' i.pk %}">Delete</a>
            {% endif %}
        {% endfor %}
    {% else %}
        <h2>No contents saved yet.</h2>
    {% endif %}
</body>


{% endblock content %}