aiofiles==23.2.1
aiogram==3.2.0
aiohttp==3.9.3
aiohttp-retry==2.8.3
aiosignal==1.3.1
annotated-types==0.6.0
anyio==4.3.0
asgiref==3.8.1
attrs==23.2.0
Babel==2.14.0
beautifulsoup4==4.12.3
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
coloredlogs==15.0.1
contourpy==1.2.1
cryptography==42.0.5
cycler==0.12.1
Deprecated==1.2.14
distlib==0.3.8
Django==5.0.4
djangorestframework==3.15.1
environs==8.0.0
executor==23.2
fasteners==0.19
filelock==3.13.1
fonttools==4.51.0
frozenlist==1.4.1
gunicorn==21.2.0
h11==0.14.0
httpcore==0.16.3
httpx==0.23.3
humanfriendly==10.0
idna==3.6
kiwisolver==1.4.5
magic-filter==1.0.12
marshmallow==3.20.2
matplotlib==3.8.4
multidict==6.0.5
numpy==1.26.4
packaging==23.2
pillow==10.3.0
pipenv==2023.12.1
platformdirs==4.2.0
property-manager==3.0
psycopg2==2.9.9
pycparser==2.21
pydantic==2.5.3
pydantic_core==2.14.6
PyJWT==2.8.0
pyparsing==3.1.2
pyreadline3==3.4.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-telegram-bot==20.0
pytz==2024.1
requests==2.31.0
response==0.5.0
rfc3986==1.5.0
scipy==1.13.0
setuptools==69.1.0
six==1.16.0
sniffio==1.3.0
soupsieve==2.5
sqlparse==0.5.0
subprocess.run==0.0.8
twilio==8.13.0
typing_extensions==4.9.0
tzdata==2024.1
urllib3==2.2.1
verboselogs==1.7
virtualenv==20.25.0
vonage==3.13.0
vonage-jwt==1.1.0
wikipedia==1.4.0
wrapt==1.16.0
yarl==1.9.4
